.image_style{
    height: 20px; 
    width: 20px;
    cursor: pointer;
  }
  .header_image_style{
    height: 40px; 
    width: 40px;
    cursor: pointer;
  }
  .thumnbnail{
    height: 100px; 
    width: 100px;
  }
  .btn-black {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
  }
